/**************************************************
 * colors.scss - Dan Schlosser <dan@schlosser.io> *                                               *
 *                                                *
 * The colors used in the app.                    *
 **************************************************/


$white: #FFFFFF;
$ultra-light-gray: #F5F5F5;
$light-gray: #E5E5E5;
$gray: #919191;
$dark-gray: #333333;
$black: #000000;
$transparent: rgba(255,255,255,0);
$red: #D9534F;
$blue: #3878CC;
$green: #43AC6A;
$yellow: #FFE020;
